<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerjaya insurans</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="container-logo">
            <img src="/images/SS_logo_white.svg">
        </div>
        <hr>
        <nav>
            <div class="menuNav">
                <ul id="MenuItems">
                    <li><a href="#">Perjalanan</a></li>
                    <li><a href="#">Kejayaan</a></li>
                    <li><a href="#">Berhubung</a></li>
                </ul>
            </div>
        </nav>
        <div class="menu-icon" onclick="menutoggle()">
            <div class="menu-icon-burger"></div>
        </div>    
    </div>
    <div class="header-container">
        <header>
            <span class="text1">Kerjaya baru anda</span>
            <div class="text2">
                <span class="gradient">bermula</span>
                <span class="non-gradient">di sini</span>
            </div>
        </header>
    </div>
    <content>
        <div class="maintenance">
            <p>Laman sesawang ini masih diselanggara, sila lawati kemudian</p>
        </div>
    </content>

    <section class="container-mentor">
        <div class="mentor-text">
            <h1>Kenali mentor anda</h1>
            <div class="mentor-text-detail">
                <p>Perjalanan bermula dengan sekecil bata. Cabaran yang ada</p>
            </div>
        </div>
        <div class="mentor-section">
            <div class="mentor">
                <div class="mentor-img">
                    <img src="/images/syahril1.jpg" alt="">
                </div>
            </div>
            <img class="background-img" src="/images/background-office-2.jfif" alt="">
        </div>
    </section>

    <div class="outer-wrapper-position">
        <div class="outer-wrapper">
            <div class="wrapper">
                <div class="slide one">Base</div>
                <div class="slide two">ONE</div>
                <div class="slide three">TWO</div>
                <div class="slide four">THREE</div>
                <div class="slide five">FOUR</div>
                <div class="slide six">FIVE</div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="/main.js"></script>
</body>

</html>