<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerjaya insurans</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="container-logo">
            <a href="/"><img src="/images/SS_logo_white.svg"></a>
        </div>
        {{!-- <hr> --}}
        <nav>
            <div class="menuNav">
                <ul id="MenuItems">
                    <li><a href="#">Perjalanan</a></li>
                    <li><a href="#">Kejayaan</a></li>
                    <li><a href="/event">Event</a></li>
                    <li><a href="#">Berhubung</a></li>
                </ul>
            </div>
        </nav>
        <div class="menu-icon" onclick="menutoggle()">
            <div class="menu-icon-burger"></div>
        </div>    
    </div>
    <div class="header-container">
        <header>
            <span class="text1">Kerjaya baru anda</span>
            <div class="text2">
                <span class="gradient">bermula</span>
                <span class="non-gradient">di sini</span>
            </div>
        </header>
    </div>
    <content>
        <div class="maintenance">
            {{!-- <p>Laman sesawang ini masih diselanggara, sila lawati kemudian</p> --}}
        </div>
    </content>

    {{!-- <section class="container-mentor">
        <div class="mentor-text">
            <h1>Kenali mentor anda</h1>
            <div class="mentor-text-detail">
                <p>Syahril Sumery telah menceburi dalam industri insurans, dan telah berkhidmat sebagai agen jualan sehingga ke unit pengurusan agensi. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
            </div>
        </div>
        <div class="mentor-section">
            <div class="mentor">
                <div class="mentor-img">
                    <img src="/images/syahril1.jpg" alt="">
                </div>
            </div>
            <img class="background-img" src="/images/background-office-2.jfif" alt="">
        </div>
    </section>

    <section class="horizontal-section">
        <div class="sticky-wrapper">
            <div class="element-wrapper">
                <div class="element1">
                    <div class="element1-content">
                        <h4>PERJALANAN DAN DIARI</h4>
                        <h2>Daripada juruteknik ke unit pengurusan agensi</h2>
                        <p>Dalam beberapa tahun, Syahril Sumery berjaya dalam karier insurans daripada agen jualan ke unit pengurusan. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                    </div>
                    <div class="horizontal-line">
                        <hr>
                    </div>
                </div>
                <div class="element2">
                    <img src="/images/syahril3.jpg" alt="">
                    <div class="element2-content">
                        <h3>Perjalanan dan diari</h3>
                        <h1>Syahril Sumery</h1>
                    </div>
                </div>
                <div class="element3">
                    <div class="element3-content">
                        <div class="element3-content-year">
                            <p>2006</p>
                        </div>
                        <div class="element3-content-img">
                            <img src="/images/syahril4.jpg" alt="">
                            <p>Permulaan mengejar segulung ijazah. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                        </div>
                    </div>
                </div>
                <div class="element4">
                    <div class="element4-img1">
                        <img src="/images/Syahril-collage.jpg" alt="">
                    </div>
                    <div class="element4-img2">
                        <p>Permulaan mengejar segulung ijazah. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                        <img src="/images/syahril9.jpg" alt="">
                    </div>
                </div>
                <div class="element5">
                    <img src="/images/perodua3.jpeg" alt="">
                    <div class="element5-content">
                        <h1>Permulaan karier</h1>
                    </div>
                </div>
                <div class="element6">
                    <div class="element6-container">
                        <div class="element6-year">
                            <p>2008</p>
                        </div>
                        <div class="element6-content">
                            <div class="element6-content-img">
                                <img src="/images/syahril7.jpg" alt="">
                            </div>
                            <div class="element6-content-text">
                                <p>Permulaan mengejar segulung ijazah. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="element7">
                    <img src="/images/syahril8.jpg" alt="">
                </div>
                <div class="element8">
                    <div class="element8-container">
                        <div class="element8-year">
                            <p>2010</p>
                        </div>
                        <div class="element8-text">
                            <p>Permulaan mengejar segulung ijazah. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                        </div>
                    </div>
                </div>
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
            </div>
        </div>
    </section>

    <section class="container-mentor">
        <div class="mentor-text">
            <h1>Kenali mentor anda</h1>
            <div class="mentor-text-detail">
                <p>Perjalanan bermula dengan sekecil bata. Cabaran yang ada</p>
            </div>
        </div>
        <div class="mentor-section">
            <div class="mentor">
                <div class="mentor-img">
                    <img src="/images/syahril1.jpg" alt="">
                </div>
            </div>
            <img class="background-img" src="/images/background-office-2.jfif" alt="">
        </div>
    </section> --}}

    <div class="footer">
        <p>Laman sesawang ini masih diselanggara, sila lawati kemudian</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="/main.js"></script>
</body>

</html>