<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttergun Construction</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

    <header>

        <div class="navbar">
            <div class="container_logo">
                <h3>Buttergun</h3>
            </div>
            <nav>
                <div class="menuNav">
                    <ul id="MenuItems">
                        <li><a href="">Home</a></li>
                        <li><a href="">Product</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Account</a></li>
                        <!-- <li><a href="" style="font-weight: bold; color: #ff4040; border: 2px; border-style: solid; border-color:#ff4040; padding: 7px; border-radius: 6px;">Get free quote</a></li> -->
                    </ul>
                </div>
            </nav>
            <div class="topButton">
                <p>Get free quote</p>
            </div>
            <img src="/images/menu.svg" class="menu-icon" onclick="menutoggle()">
        </div>

        <!-- <section>
            <div class="hero">
                <img src="/images/1.jpg" alt="">
                <h1 class="headline">Create Your Dream</h1>
            </div>    
        </section> -->

        <div class="backgroundSlider"></div>

        <div class="backgroundSlider2"></div>

        <!-- <div class="banner1"></div> -->

        <div class="position-carousel">

        <div class="carousel-container">

            <i class="fa fa-arrow-left" id="prevBtn"></i>
            <i class="fa fa-arrow-right" id="nextBtn"></i>


            <div class="carousel-slide">

                <section2>
                    <div class="hero4">
                        <img src="/images/4.jpg" id="lastClone" alt="">
                        <div class="headline2">
                            <h1>Inspiring</h1>
                            <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                            <button class="button">Get free quote now &#8658;</button>
                        </div>
                    </div>    
                </section2>

                <section2>
                    <div class="hero1">
                        <img src="/images/white-building-full.png" alt="">
                        <div class="headline2">
                            <h1>Create your dream</h1>
                            <p>We are Buttergun Consortium. We build houses and run civil construction projects. We are a trusted contractor with skills, supplies, and talents. Let us turn your dream projects into reality. </p>
                            <button class="button">Get free quote now &#8658;</button>
                        </div>
                    </div>    
                </section2>

                <section2>
                    <div class="hero2">
                        <img src="/images/2.jpg" alt="">
                        <div class="headline2">
                            <h1>Dream Big</h1>
                            <p>We dream to create suitable apparels that is all rounder, modern, comfortable and suitable for anything.</p>
                            <button class="button">Get free quote now &#8658;</button>
                        </div>
                    </div>    
                </section2>

                <section2>
                    <div class="hero3">
                        <img src="/images/5.jpg" alt="">
                        <div class="headline2">
                            <h1>Desire</h1>
                            <p>We are a family of great people, driven by our desire to make great apparel available to everyone in a sustainable way.</p>
                            <button class="button">Get free quote now &#8658;</button>
                        </div>
                    </div>    
                </section2>

                <section2>
                    <div class="hero4">
                        <img src="/images/4.jpg" alt="">
                        <div class="headline2">
                            <h1>Inspiring</h1>
                            <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                            <button class="button">Get free quote now &#8658;</button>
                        </div>
                    </div>    
                </section2>

                <section2>
                    <div class="hero1">
                        <img src="/images/white-building-full.png" id="firstClone" alt="">
                        <div class="headline2">
                            <h1>Create your dream</h1>
                            <p>We are Buttergun Consortium. We build houses and run civil construction projects. We are a trusted contractor with skills, supplies, and talents. Let us turn your dream projects into reality. </p>
                            <button class="button">Get free quote now &#8658;</button>
                        </div>
                    </div>    
                </section2>

            </div>
        </div>

        </div>

        <!-- <button id="prevBtn">Prev</button>
        <button id="nextBtn">Next</button> -->

    </header>

    <content>

        <div class="mainTitle">
            <h1>Our services</h1>
            <p>We provide glass installation, building construction, renovation, civil construction</p>
        </div> 
        
        <div class="slider">
            <div class="slides">
    
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
    
                <div class="slide first">
                    <img src="/images/7.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/8.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/9.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/11.jpg" alt="">
                </div>
    
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
    
            </div>
            
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
    
    
        </div>

        <div class="mainTitle">
            <h1>Our projects</h1>
            <p>We have completed many projects, especially in civil construction and glass installation.</p>
        </div> 
        
        <div class="slider">
            <div class="slides">
    
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
    
                <div class="slide first">
                    <img src="/images/7.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/8.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/9.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/images/11.jpg" alt="">
                </div>
    
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
    
            </div>
            
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
    
    
        </div>

    </content>

    

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script> -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="/main.js"></script>

</body>
</html>