<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerjaya insurans</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/lightslider.css">
    <script src="/jquery.js"></script>
    <script src="/lightslider.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="container-logo">
            <a href="/"><img src="/images/SS_logo_white.svg"></a>
        </div>
        <nav>
            <div class="menuNav">
                <ul id="MenuItems">
                    <li><a href="#">Produk</a></li>
                    <li><a href="#">Latihan</a></li>
                    <li><a href="/event">Acara</a></li>
                    <li><p class="modal-open" data-modal="modal1">Berhubung</p></li>
                </ul>
            </div>
        </nav>
        <div class="menu-icon" onclick="menutoggle()">
            <div class="menu-icon-burger"></div>
        </div>    
    </div>
    <div class="header-container">
        <header>
            <span class="text1">Kerjaya baru anda</span>
            <div class="text2">
                <span class="gradient">bermula</span>
                <span class="non-gradient">di sini</span>
            </div>
        </header>
    </div>
    <content>
        <div class="word-animation"></div>
    </content>

    <div class="container-mentor-background">
        <section class="container-mentor">
            <div class="mentor-text-position">
                <div class="mentor-text">
                    <h1>Syahril Sumery</h1>
                    <span>Kenali mentor anda.</span>
                    <p>Syahril Sumery merupakan seorang pengurus unit agensi insurans yang berpengalaman dan sudah menceburi dalam industri jualan lebih 10 tahun.</p>
                    <button class="modal-open" data-modal="modal1" id="mainButton">Berhubung</button>
                </div>
            </div>
            <div class="mentor-img">
                <div class="mentor-img-position">
                    <img src="/images/syahril-home.jpg" alt="">
                </div>
            </div>
        </section>
    </div>

    <div class="container-pencapaian-background">
        <section class="container-pencapaian">
            <div class="roulette-container">
                <i class="material-icons" id="prevBtn">expand_less</i>
                <i class="material-icons" id="nextBtn">expand_more</i>
                <div class="pencapaian">
                    <div class="mainTitleTop">
                        <div class="position-carousel">
                            <div class="carousel-container">
                                <div class="carousel-slide">
                                    <div class="roulette-container">
                                        <div class="hero">
                                            <img src="images/background-empty.png" id="lastClone" alt="">
                                            <div class="headline">
                                                <h1>house building</h1>
                                                <h1>house building</h1>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="roulette-container">
                                        <div class="hero">
                                            <img src="images/background-empty.png" alt="">
                                            <div class="headline">
                                                <h1>civil construction</h1>
                                                <h1>civil construction</h1>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="roulette-container">
                                        <div class="hero">
                                            <img src="images/background-empty.png" alt="">
                                            <div class="headline">
                                                <h1>home renovation</h1>
                                                <h1>home renovation</h1>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="roulette-container">
                                        <div class="hero">
                                            <img src="images/background-empty.png" alt="">
                                            <div class="headline">
                                                <h1>glass installation</h1>
                                                <h1>glass installation</h1>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="roulette-container">
                                        <div class="hero">
                                            <img src="images/background-empty.png" alt="">
                                            <div class="headline">
                                                <h1>house building</h1>
                                                <h1>house building</h1>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="roulette-container">
                                        <div class="hero">
                                            <img src="images/background-empty.png" id="firstClone" alt="">
                                            <div class="headline">
                                                <h1>civil construction</h1>
                                                <h1>civil construction</h1>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pencapaian-link">
                <h1>Koleksi pencapaian</h1>
                <h1>Koleksi pencapaian</h1>
                <h1>Koleksi pencapaian</h1>
            </div>
        </section>
    </div>

        <div class="modal" id="modal1">
        <div class="modal-content">
            <div class="containerEmail2">
                <div class="modal-header-background">
                    <div class="modal-header">
                        <button class="icon modal-close">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="modal-header-font">
                        <p>Hantar pertanyaan anda melalui Whatsapp</p>
                        <div class="whatsapp-container-position">
                            <a href="https://wa.link/2ensol">
                                <div class="whatsapp-container">
                                    <div class="bottomButtonWhatsapp">
                                        <img src="images/whatsapp-logo-circle.png" alt="">
                                    </div>
                                    <div class="arrow-right">
                                        <i class="material-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-content-background">
                    <img src="images/triangle-modal.svg" alt="">
                    <p>Atau isi borang di bawah:</p>
                    <form action="https://formspree.io/f/mbjqqlaz" method="POST" id="my-form">
                        <div class="form-group">
                            <label for="name">Nama</label>
                            <input type="text" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Nombor telefon</label>
                            <input type="text" id="phoneNumber" name="phoneNumber">
                        </div>
                        <div class="form-group">
                            <label for="email">Emel</label>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Mesej</label>
                            <textarea name="message" id="message" cols="30" rows="3"></textarea>
                        </div>
                        <button type="submit">Hantar</button>
                        <div id="status"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-filler">
        <div class="ourProjects">

        <div class="mainTitle">
            <h1>Our projects</h1>
            <p>We have completed many projects, especially in civil construction and glass installation.</p>
        </div> 

        <div class="lightSliderDiv">

            <ul id="responsive" class="cs-hidden">

                <li class="item-a">
                    <div class="box">
                        <div class="slide-img">
                            <img src="/images/tmj1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Glass Installation</a>
                                <span>Renovation for building</span>
                            </div>    
                            <a href="#" class="price">Feb 2020</a>
                        </div>
                    </div>
                </li>

                <li class="item-b">
                    <div class="box">
                        <div class="slide-img">
                            <img src="/images/tmj2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Glass Installation</a>
                                <span>Renovation for building</span>
                            </div>    
                            <a href="#" class="price">Feb 2020</a>
                        </div>
                    </div>
                </li>

                <li class="item-c">
                    <div class="box">
                        <div class="slide-img">
                            <img src="/images/tmj3.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Glass Installation</a>
                                <span>Renovation for building</span>
                            </div>    
                            <a href="#" class="price">Feb 2020</a>
                        </div>
                    </div>
                </li>

                <li class="item-d">
                    <div class="box">
                        <div class="slide-img">
                            <img src="/images/tmj4.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Glass Installation</a>
                                <span>Renovation for building</span>
                            </div>    
                            <a href="#" class="price">Feb 2020</a>
                        </div>
                    </div>
                </li>

                <li class="item-e">
                    <div class="box">
                        <div class="slide-img">
                            <img src="/images/tmj5.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Glass Installation</a>
                                <span>Renovation for building</span>
                            </div>    
                            <a href="#" class="price">Feb 2020</a>
                        </div>
                    </div>
                </li>

                <li class="item-f">
                    <div class="box">
                        <div class="slide-img">
                            <img src="/images/tmj6.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="type">
                                <a href="#">Glass Installation</a>
                                <span>Renovation for building</span>
                            </div>    
                            <a href="#" class="price">Feb 2020</a>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

    </div>
    </div>

    <section class="horizontal-section">
        <div class="sticky-wrapper">
            <div class="element-wrapper">
                <div class="element1">
                    <div class="element1-content">
                        <h4>PERJALANAN DAN DIARI</h4>
                        <h2>Daripada juruteknik ke unit pengurusan agensi</h2>
                        <p>Dalam beberapa tahun, Syahril Sumery berjaya dalam karier insurans daripada agen jualan ke unit pengurusan. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                    </div>
                    <div class="horizontal-line">
                        <hr>
                    </div>
                </div>
                <div class="element2">
                    <img src="/images/syahril3.jpg" alt="">
                    <div class="element2-content">
                        <h3>Perjalanan dan diari</h3>
                        <h1>Syahril Sumery</h1>
                    </div>
                </div>
                <div class="element3">
                    <div class="element3-content">
                        <div class="element3-content-year">
                            <p>2006</p>
                        </div>
                        <div class="element3-content-img">
                            <img src="/images/syahril4.jpg" alt="">
                            <p>Permulaan mengejar segulung ijazah. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                        </div>
                    </div>
                </div>
                <div class="element4">
                    <div class="element4-img1">
                        <img src="/images/Syahril-collage.jpg" alt="">
                    </div>
                    <div class="element4-img2">
                        <p>Permulaan mengejar segulung ijazah. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                        <img src="/images/syahril9.jpg" alt="">
                    </div>
                </div>
                <div class="element5">
                    <img src="/images/perodua3.jpeg" alt="">
                    <div class="element5-content">
                        <h1>Permulaan karier</h1>
                    </div>
                </div>
                <div class="element6">
                    <div class="element6-container">
                        <div class="element6-year">
                            <p>2008</p>
                        </div>
                        <div class="element6-content">
                            <div class="element6-content-img">
                                <img src="/images/syahril7.jpg" alt="">
                            </div>
                            <div class="element6-content-text">
                                <p>Permulaan mengejar segulung ijazah. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="element7">
                    <img src="/images/syahril8.jpg" alt="">
                </div>
                <div class="element8">
                    <div class="element8-container">
                        <div class="element8-year">
                            <p>2010</p>
                        </div>
                        <div class="element8-text">
                            <p>Permulaan mengejar segulung ijazah. Perjalanan ini bukanlah suatu perkara yang mudah, tetapi tidak menjadi satu penghalang untuk terus berjaya.</p>
                        </div>
                    </div>
                </div>
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
            </div>
        </div>
    </section>

    <div class="bottom-filler">
        
    </div>

    {{!-- <div class="footer">
        <p>Laman sesawang ini masih diselanggara, sila lawati kemudian</p>
    </div> --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="/main.js"></script>
</body>

</html>