<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttergun Construction</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/lightslider.css">
    <script src="/jquery.js"></script>
    <script src="/lightslider.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

        <div class="navbar">
            <div class="container_logo">
                <h3>Buttergun</h3>
            </div>
            <nav>
                <div class="menuNav">
                    <ul id="MenuItems">
                        <li><a href="">Home</a></li>
                        <li><a href="">Product</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Account</a></li>
                    </ul>
                </div>
            </nav>
            <div class="topButton">
                <p>Get free quote</p>
            </div>
            <img src="/images/menu.svg" class="menu-icon" onclick="menutoggle()">
        </div>

    <header>

        <div class="backgroundSlider"></div>

        {{!-- <div class="backgroundSlider2"></div> --}}

        <div class="slider3Container">
        <div class="slider3">
            <div class="slides3">
    
                <input type="radio" name="radio-btn3" id="radioThree1">
                <input type="radio" name="radio-btn3" id="radioThree2">
                <input type="radio" name="radio-btn3" id="radioThree3">
                <input type="radio" name="radio-btn3" id="radioThree4">
    
                <div class="slide3 first3">
                    <img src="/images/8.jpg" alt="">
                    <div class="headline2">
                            <h1>Create your dream</h1>
                            <p>We are Buttergun Consortium. We build houses and run civil construction projects. We are a trusted contractor with skills, supplies, and talents. Let us turn your dream projects into reality. </p>
                            <button class="button">Get free quote now &#8658;</button>
                    </div>
                </div>
                <div class="slide3">
                    <img src="/images/1.jpg" alt="">
                </div>
                <div class="slide3">
                    <img src="/images/5.jpg" alt="">
                </div>
                <div class="slide3">
                    <img src="/images/2.jpg" alt="">
                </div>
    
                <div class="navigation-auto3">
                    <div class="auto-btnThree1"></div>
                    <div class="auto-btnThree2"></div>
                    <div class="auto-btnThree3"></div>
                    <div class="auto-btnThree4"></div>
                </div>
    
            </div>
            
            <div class="navigation-manual3">
                <label for="radioThree1" class="manual-btn3"></label>
                <label for="radioThree2" class="manual-btn3"></label>
                <label for="radioThree3" class="manual-btn3"></label>
                <label for="radioThree4" class="manual-btn3"></label>
            </div>
    
    
        </div>
        </div>
        </div>

<div class="small-container">

    <div class="rowTop">
        <div class="colTop">
            <img src="/images/location_on_red.svg">
            <div class="textContent">
                <h4>Our Location</h4>
                <p>Bangi, Selangor, Malaysia</p>
            </div>
        </div>
        <div class="colTop">
            <img src="/images/schedule_red.svg">
            <div class="textContent">
                <h4>Business Hours</h4>
                <p>Monday to Friday: 9:00AM to 6:00PM</p>
            </div>
        </div>
        <div class="colTop">
            <img src="/images/support_agent_red.svg">
            <div class="textContent">
                <h4>Contact Us</h4>
                <p>+60192772060</p>
            </div>
        </div>
    </div>

</div>

    </header>

    <content>

        <div class="mainTitle">
            <h1>Future-proofing businesses</h1>
            <p>We specialise in enabling digital marketing ecosystems, branded content production and user experience design.</p>
        </div> 

    <div class="backgroundSliderDiv">
        <div class="backgroundSliderLeft"></div>
        <div class="backgroundSliderRight"></div>
    </div>

    <div class="small-container">

    <div class="row">
        <div class="col-4">
            <img src="/images/biotech_white_24dp.svg">
            <div class="textContent">
                <h4>Modern Technology</h4>
                <p>Modern technology is all about efficiency and speed; it is about ensuring face-to-face communication, connecting you to your healthcare provider, and empowering you by giving you more access and control to the kind of care you get as well as service you receive.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="/images/build_white_24dp.svg">
            <div class="textContent">
                <h4>Powerful Equipment</h4>
                <p>Proper utilization of these equipment helps in the economy, quality, safety, speed and timely completion of the project. It optimizes the usage of material, manpower, finance, and the shortage of skilled and efficient labor and at the same time keeps a direct check over the quality measures that are being used.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="/images/settings_white_24dp.svg">
            <div class="textContent">
                <h4>Quality Materials</h4>
                <p>Quality materials are essential for quality results; hand in hand with quality control, quality materials provide a sturdy and durable construction. As an investment, quality building materials work in conjunction with other aspects of a building.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="/images/local_offer_white_24dp.svg">
            <div class="textContent">
                <h4>Competitive Pricing</h4>
                <p>Our pricing strategy in which the competitors' prices are taken into consideration when setting the price of the same or similar products. To establish the right price of the product in the competitive pricing method, a detailed market analysis is required.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="/images/groups_white_24dp.svg">
            <div class="textContent">
                <h4>Professional Talents</h4>
                <p>Our success is a reflection of our people and we love what we do. We are a dynamic and energetic group of professionals, providing excellence and integrity services are our main objective. Our teams are equipped with many years of experience, along with the knowledge and confidence in their field of work.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="/images/call_white_24dp.svg">
            <div class="textContent">
                <h4>Available Anytime</h4>
                <p>The key to all of our successes and productive operations comes from our responsible management team. Our management team is as versatile and diverse as our products and services. They give us boundless attainment and their bountiful of experiences and ideas contributes to our continued success.</p>
            </div>
        </div>
    </div>

</div>






        <div class="mainTitle">
            <h1>Our services</h1>
            <p>We provide glass installation, building construction, renovation, civil construction</p>
        </div> 
        
        <div class="paddingSpacing">

        <div class="lightSliderDiv3">

        <ul id="responsive3" class="cs-hidden">

            <li class="item-a">
                <div class="box2">
                    <img src="/images/7.jpg" alt="">
                    <div class="headline3">
                        <h1>Glass installation</h1>
                        <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                    </div>
                </div>
            </li>

            <li class="item-b">
                <div class="box2">
                    <img src="/images/7.jpg" alt="">
                    <div class="headline3">
                        <h1>Glass installation</h1>
                        <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                    </div>
                </div>
            </li>

            <li class="item-c">
                <div class="box2">
                    <img src="/images/7.jpg" alt="">
                    <div class="headline3">
                        <h1>Glass installation</h1>
                        <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                    </div>
                </div>
            </li>

            <li class="item-d">
                <div class="box2">
                    <img src="/images/7.jpg" alt="">
                    <div class="headline3">
                        <h1>Glass installation</h1>
                        <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                    </div>
                </div>
            </li>

        </ul>

    </div> 
    </div>
        
        <div class="paddingSpacing">
        <div class="slider">
            <div class="slides">
    
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
    
                <div class="slide first">
                    <img src="/images/7.jpg" alt="">
                    <div class="headline3">
                        <h1>Glass installation</h1>
                        <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="/images/8.jpg" alt="">
                    <div class="headline3">
                        <h1>Inspiring</h1>
                        <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="/images/9.jpg" alt="">
                    <div class="headline3">
                        <h1>Inspiring</h1>
                        <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="/images/11.jpg" alt="">
                    <div class="headline3">
                        <h1>Inspiring</h1>
                        <p>Together we offer apparel, design and services, that enable people to be inspired and to express their own personal style, making it easier to live in a more circular way.</p>
                    </div>
                </div>
    
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
    
            </div>
            
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
    
    
        </div>
        </div>

        <div class="mainTitle">
            <h1>Our Mission</h1>
            <p>We have completed many projects, especially in civil construction and glass installation.</p>
        </div> 
        
        <div class="paddingSpacing">
        <div class="slider2">
            <div class="slides2">
    
                <input type="radio" name="radio-btn2" id="radioTwo1">
                <input type="radio" name="radio-btn2" id="radioTwo2">
                <input type="radio" name="radio-btn2" id="radioTwo3">
                <input type="radio" name="radio-btn2" id="radioTwo4">
    
                <div class="slide2 first2">
                    <img src="/images/7.jpg" alt="">
                </div>
                <div class="slide2">
                    <img src="/images/8.jpg" alt="">
                </div>
                <div class="slide2">
                    <img src="/images/9.jpg" alt="">
                </div>
                <div class="slide2">
                    <img src="/images/11.jpg" alt="">
                </div>
    
                <div class="navigation-auto2">
                    <div class="auto-btnTwo1"></div>
                    <div class="auto-btnTwo2"></div>
                    <div class="auto-btnTwo3"></div>
                    <div class="auto-btnTwo4"></div>
                </div>
    
            </div>
            
            <div class="navigation-manual2">
                <label for="radioTwo1" class="manual-btn2"></label>
                <label for="radioTwo2" class="manual-btn2"></label>
                <label for="radioTwo3" class="manual-btn2"></label>
                <label for="radioTwo4" class="manual-btn2"></label>
            </div>
    
    
        </div>
        </div>

{{!-- light slider start--------------------------------------- --}}

        <div class="mainTitle">
            <h1>Our Projects</h1>
            <p>We specialise in enabling digital marketing ecosystems, branded content production and user experience design.</p>
        </div> 

    <div class="paddingSpacing">
    <div class="lightSliderDiv">

        <ul id="responsive" class="cs-hidden">

            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img src="/images/tmj1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="type">
                            <a href="#">Glass Installation</a>
                            <span>Full cover</span>
                        </div>    
                        <a href="#" class="price">$20</a>
                    </div>
                </div>
            </li>

            <li class="item-b">
                <div class="box">
                    <div class="slide-img">
                        <img src="/images/tmj2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="type">
                            <a href="#">Glass Installation</a>
                            <span>Full cover</span>
                        </div>    
                        <a href="#" class="price">$20</a>
                    </div>
                </div>
            </li>

            <li class="item-c">
                <div class="box">
                    <div class="slide-img">
                        <img src="/images/tmj3.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="type">
                            <a href="#">Glass Installation</a>
                            <span>Full cover</span>
                        </div>    
                        <a href="#" class="price">$20</a>
                    </div>
                </div>
            </li>

            <li class="item-d">
                <div class="box">
                    <div class="slide-img">
                        <img src="/images/tmj4.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="type">
                            <a href="#">Glass Installation</a>
                            <span>Full cover</span>
                        </div>    
                        <a href="#" class="price">$20</a>
                    </div>
                </div>
            </li>

            <li class="item-e">
                <div class="box">
                    <div class="slide-img">
                        <img src="/images/tmj5.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="type">
                            <a href="#">Glass Installation</a>
                            <span>Full cover</span>
                        </div>    
                        <a href="#" class="price">$20</a>
                    </div>
                </div>
            </li>

            <li class="item-f">
                <div class="box">
                    <div class="slide-img">
                        <img src="/images/tmj6.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="type">
                            <a href="#">Glass Installation</a>
                            <span>Full cover</span>
                        </div>    
                        <a href="#" class="price">$20</a>
                    </div>
                </div>
            </li>

        </ul>

    </div>    
    </div> 
    
        <div class="paddingSpacing">
        <section3 class="maps">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.2764679018733!2d101.67286061426293!3d3.0202217547751466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb53b0cac76cd%3A0x191f50721936648e!2sSubway%20Taman%20Puncak%20Jalil!5e0!3m2!1sen!2smy!4v1624377655469!5m2!1sen!2smy" width="1080" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </section3>
        </div>

    </content>


    <!-------------- Testimonial --------------->

    <div class="paddingSpacing">
    <div class="lightSliderDiv2">

        <ul id="responsive2" class="cs-hidden">

            <li class="item-a">
                <div class="box">
                    <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Baju berkualiti dengan harga yang sangat berpatutan, kalau beli memang wajib beli banyak terus baru puas hari-hari boleh pakai!</p>
                    <img src="images/fred.jpeg">
                    <h3>Faiz Fikri</h3>
                    </div>
                </div>
            </li>

            <li class="item-b">
                <div class="box">
                    <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Memang padu lain macam baju Colourtagged ni! Dah lama cari baju macam ni cutting nice dan kain sedap, tak cukup beli satu je!</p>
                    <img src="images/kulop.jpeg">
                    <h3>Daniel Fitri</h3>
                </div>
                </div>
            </li>

            <li class="item-c">
                <div class="box">
                    <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Dekat luar memang susah cari tshirt yang elok lepastu harga okay. Baju Colourtagged ni memang selesa, nak pakai untuk tidur pun boleh! </p>
                    <img src="images/wafi.jpeg">
                    <h3>Asyraf Abdul Wafi</h3>
                </div>
                </div>
            </li>

        </ul>

    </div>    
    </div> 





    <!-- ------------footer------------ -->
    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <a href="/help-and-information"><h3>Help and Information</h3></a>
                    <ul>
                        <li><a href="/help-and-information">Delivery and Returns</a></li>
                        <li><a href="/help-and-information">Track Order</a></li>
                        <li><a href="/help-and-information">Help</a></li>
                    </ul>
                    {{!-- <div class="app-logo">
                        <img src="images/playstore.png">
                        <img src="images/appstore.png">
                    </div> --}}
                </div>
                <div class="footer-col-2">
                    <img src="images/Colourtagged_logo_white.svg"><p>Live with comfort.</p></img>
                </div>
                <div class="footer-col-3">
                    <a href="/news-and-activities"><h3>News and Activity</h3></a>
                    <ul>
                        <li><a href="/news-and-activities">News and Contents</a></li>
                        <li><a href="/news-and-activities">Entertainment</a></li>
                        <li><a href="/news-and-activities">Join Us</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Social Account</h3>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/colourtagged/"><img src="images/facebook3.png" width="50px" height="50px" style="background-color: white;"></img></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/colourtagged"><img src="images/twitter3.png" width="50px" height="50px"></img></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/colourtagged/"><img src="images/instagram3.png" width="50px" height="50px" style="background-color: white;"></img></a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Buttergun Consortium<br>All Rights Reserved</p>
        </div>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script> -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>

    <script>

        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: '.slider',
                start: "bottom bottom",
            }
        });
        tl.from(".slider", { scale: 0, opacity: 0, duration: 1});

        let tl2 = gsap.timeline({
            scrollTrigger: {
                trigger: '.slider2',
                start: "bottom bottom",
            }
        });
        tl2.from(".slider2", { scale: 0, opacity: 0, duration: 1});

        let tl3 = gsap.timeline({
            scrollTrigger: {
                trigger: '.mainTitle',
                start: "bottom bottom",
            }
        });
        tl3.from(".mainTitle", { x: -500, scale: 0, opacity: 0, duration: 1 });

        let tl4 = gsap.timeline({
            scrollTrigger: {
                trigger: '.lightSliderDiv',
                start: "top bottom",
            }
        });
        tl4.from(".lightSliderDiv", { x: -300, scale: 0, opacity: 0, duration: 1 });

        let tl5 = gsap.timeline({
            scrollTrigger: {
                trigger: '.lightSliderDiv2',
                start: "top bottom"
            }
        });
        tl5.from(".lightSliderDiv2", { scale: 0, opacity: 0, duration: 1 });

        let tl6 = gsap.timeline({
            scrollTrigger: {
                trigger: '.maps',
                start: "top bottom",
            }
        });
        tl6.from(".maps", { scale: 0, opacity: 0, duration: 1 });

        let tl7 = gsap.timeline({
            scrollTrigger: {
                trigger: '.backgroundSliderLeft',
                start: "top bottom",
            }
        });
        tl7.to(".backgroundSliderLeft", { x: -1000, duration: 2, ease: Power2.easeInOut });

        let tl8 = gsap.timeline({
            scrollTrigger: {
                trigger: '.backgroundSliderRight',
                start: "top bottom",
            }
        });
        tl8.to(".backgroundSliderRight", { x: 1000, duration: 2, ease: Power2.easeInOut });

        gsap.from(".mainTitle1", {
            scrollTrigger: {
                trigger: '.mainTitle1',
                start: "top center",
            },
            x: -1000
        });

    </script>

    <script src="/main.js"></script>

</body>
</html>