* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
}

.container_logo {
    margin-left: -200px;
    animation: moveright .5s ease-in-out forwards;
    animation-delay: 2s;
}

.container_logo h3 {
    color: lightgray;
}
  
@keyframes moveright {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200px);
    }
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9;
    background: #2e313b;
}

nav {
    flex: 1;
    text-align: right;
}
  
nav ul {
    display: inline-block;
    list-style-type: none;
}
  
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
  
a {
    text-decoration: none;
    color: lightgray;
}
  
/* p {
    color: lightgray;
} */

.topButton {
    color: #ff4040;
    font-weight: bold;
    border: 2px;
    border-color:#ff4040;
    border-style: solid;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.5s, color .5s;
}


.topButton:hover {
    background: #ff4040;
    color: white;
}

.backgroundSlider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800vh;
    background: #2e313b;
    z-index: -2;
}

.backgroundSlider2 {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 500vh;
    background: #1d2129;
    z-index: -1;
}

.banner1 {
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    max-width: 1500px;
    height: 200vh;
    background-color: #2e313b;
    /* background: linear-gradient(to left, rgb(48, 48, 48), rgb(82, 82, 82)); */
    z-index: 1;
}

section {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

section3 {
    margin-top: 650px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section2 {
    display: flex;
    height: 95vh;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}

/* h4 {
    color: #555;
    font-weight: normal;
  } */

  .headline2 p {
      color: white;
      margin-bottom: 30px;
  }

  .headline2 {
    position: absolute;
    color: white;
    align-items: left;
    max-width: 40vw;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    z-index: 3;
}

.headline2 h1 {
  margin-bottom: 30px;
  font-size: 80px;
}

.headline3 {
    position: absolute;
    top: 0;
    width: 80vw;
    z-index: 3;
}

/* content--------------------------------------------- */

.mainTitle {
    margin-top: 200px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.mainTitle h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.mainTitle p {
    color: #8a8a8a;
}

/* content { */
    /* margin-top: 50vh; */
    /* padding: 0; */
    /* display: flex; */
    /* justify-content: center; */
    /* background: #23E3C9; */
/* } */

.paddingSpacing {
    padding-right: 25px;
    padding-left: 25px;
}

.slider{
    /* margin-right: 10vh; */
    z-index: 3;
    max-width: 1280px;
    /* height: auto; */
    /* border-radius: 10px; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

/* .slide first {
    position: relative;
} */

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;

}

.navigation-manual{
    position: absolute;
    width: 1280px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.manual-btn{
    border:2px solid #2e313b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #2e313b;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position:absolute;
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top: 460px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-auto div{
    border: 2px solid #2e313b;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #2e313b;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #2e313b;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #2e313b;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #2e313b;
}

/* SECOND SLIDER------------------------------------- */

.slider2{
    /* margin-right: 10vh; */
    z-index: 3;
    max-width: 1280px;
    /* height: auto; */
    /* border-radius: 10px; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slides2{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides2 input{
    display: none;
}

/* .slide first {
    position: relative;
} */

.slide2{
    width: 20%;
    transition: 2s;
}

.slide2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.navigation-manual2{
    position: absolute;
    width: 1280px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.manual-btn2{
    border:2px solid #2e313b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn2:not(:last-child){
    margin-right: 40px;
}

.manual-btn2:hover{
    background: #2e313b;
}

#radioTwo1:checked ~ .first2{
    margin-left: 0;
}

#radioTwo2:checked ~ .first2{
    margin-left: -20%;
}

#radioTwo3:checked ~ .first2{
    margin-left: -40%;
}

#radioTwo4:checked ~ .first2{
    margin-left: -60%;
}

.navigation-auto2{
    position:absolute;
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top: 460px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-auto2 div{
    border: 2px solid #2e313b;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto2 div:not(:last-child){
    margin-right: 40px;
}

#radioTwo1:checked ~ .navigation-auto2 .auto-btnTwo1{
    background: #2e313b;
}

#radioTwo2:checked ~ .navigation-auto2 .auto-btnTwo2{
    background: #2e313b;
}

#radioTwo3:checked ~ .navigation-auto2 .auto-btnTwo3{
    background: #2e313b;
}

#radioTwo4:checked ~ .navigation-auto2 .auto-btnTwo4{
    background: #2e313b;
}

/* THIRD SLIDER------------------------------------- */

.slider3Container {
    height: 800px;
}

.slider3{
    /* margin-right: 10vh; */
    z-index: 3;
    /* max-width: 1280px; */
    /* height: auto; */
    /* border-radius: 10px; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slides3{
    width: 500%;
    height: 800px;
    display: flex;
}

.slides3 input{
    display: none;
}

/* .slide first {
    position: relative;
} */

.slide3{
    width: 20%;
    transition: 2s;
    position: relative;
}

.slide3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.navigation-manual3{
    position: absolute;
    width: 1280px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.manual-btn3{
    border:2px solid #2e313b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn3:not(:last-child){
    margin-right: 40px;
}

.manual-btn3:hover{
    background: #2e313b;
}

#radioThree1:checked ~ .first3{
    margin-left: 0;
}

#radioThree2:checked ~ .first3{
    margin-left: -20%;
}

#radioThree3:checked ~ .first3{
    margin-left: -40%;
}

#radioThree4:checked ~ .first3{
    margin-left: -60%;
}

.navigation-auto3{
    position:absolute;
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top: 760px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-auto3 div{
    border: 2px solid #2e313b;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto3 div:not(:last-child){
    margin-right: 40px;
}

#radioThree1:checked ~ .navigation-auto3 .auto-btnThree1{
    background: #2e313b;
}

#radioThree2:checked ~ .navigation-auto3 .auto-btnThree2{
    background: #2e313b;
}

#radioThree3:checked ~ .navigation-auto3 .auto-btnThree3{
    background: #2e313b;
}

#radioThree4:checked ~ .navigation-auto3 .auto-btnThree4{
    background: #2e313b;
}

/* Carousel start here---------------------------- */

/* .lightSlider {
    max-width: 1280px;
} */

.lightSliderDiv {
    margin-top: 150px;
    max-width: 1080px;
    /* height: 100vh; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.lightSliderDiv2 {
    margin-top: 150px;
    max-width: 1280px;
    /* height: 100vh; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.lightSliderDiv3 {
    margin-top: 150px;
    max-width: 1280px;
    /* height: 100vh; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.box {
    max-width: 420px;
    /* box-shadow: 0 0 20px 0px rgba(0,0,0,0.1); */
    /* border-radius: 10px; */
    overflow: hidden;
    /* margin: 5px; */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.box2 {
    max-width: 1280px;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.slide img {
    height: 500px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.type {
    display: flex;
    flex-direction: column;
}

.type a {
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.type span {
    color: white;
}

.price {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

  .button {
    margin: 30px 0;
    display: inline-block;
    cursor: pointer;
    background: #ff4040;
    color: white;
    transition: background 0.5s;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    animation: moveup 2.5s ease-in-out forwards;
  }

@keyframes moveup {
    0% {
      opacity: 0;  
      transform: translateX(-10vw);
    }
    80% {
        opacity: 0; 
        transform: translateX(-10vw);
      }
    100% {
      transform: translateY(0);
    }
}
  
  .button:hover {
    background: #a92c2c;
  }












  /* --------------- testimonial --------------- */

  .box .col-3 {
    text-align: center;
    padding: 40px 20px;
    /* box-shadow: 0 0 20px 0px rgba(0,0,0,0.1); */
    transition: transform 0.5s;
    background-color: white;
    height: 300px;
  }

  .box .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .fa.fa-quote-left {
    font-size: 34px;
    color: #ff4040;
  }
  
  .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  
  .footer {
    background: #1d2129;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }

  .footer a {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 40px;
  }
  
  .footer-col-1{
    flex-basis: 10%;
    align-items: center;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }

  .footer-col-2 p {
    margin-top: -20px;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-1, .footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  .footer-col-4 ul li {
    display: inline-block;
    padding: 5px;
  }

  ul {
    list-style-type: none;
  }

  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }

  .col-3 {
    flex-basis: 30%;
    min-width: 350px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }

  .rowTop {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
  }

.small-container {
    max-width: 1280px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.colTop {
    padding: 10px;
    display: flex;
}

.colTop p {
    font-size: 14px;
}

.colTop img {
    width: 30px;
}

.col-4 {
    flex-basis: 33%;
    padding: 10px;
    min-width: 350px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    display: flex;
}

.col-4 img {
    min-width: 30px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.textContent {
    padding-left: 25px;
}

.textContent h4 {
    color: white;
    margin-bottom: 10px;
}

.textContent p {
    color: #8a8a8a;
}



.backgroundSliderLeft {
    position: absolute;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: #1d2129;
    z-index: 1;
}

.backgroundSliderRight {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: #1d2129;
    z-index: 1;
}

.backgroundSliderDiv {
    position: relative;
    overflow: hidden;
}

/* ------------media query for menu-------- */

@media only screen and (max-width: 1400px) {
    .slider3{
        height: 500px;
    }
    
    .slide3 img{
        height: 500px;
    }

    .slides3{
        height: 500px;
    }
    
    .navigation-manual3 {
        max-height: 500px;
        margin-top: -40px;
    }
    
    .navigation-auto3 {
        max-height: 500px;
        margin-top: 460px;
    }

    .slider3Container {
        height: 500px;
    }
}

@media only screen and (max-width: 760px) {
    .col-4 {
        flex-basis: 100%;;
    }

    .colTop {
        min-width: 400px;
    }
}

@media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 65px;
      left: 0;
      background: #1d2129;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
      z-index: 10;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
      z-index: 10;
    }
    nav ul li a {
      color: #fff;
      border-style: none!important;
    }
    .menu-icon {
      display: block;
      cursor: pointer;
      z-index: 10;
    }
    .hero6 img {
        width: 100vw;
        height: 90vh;
        object-fit: cover;
    }
    content {
        margin-right: 0;
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .slider{
        max-width: 100vw;
        height: auto;
        object-fit: cover;
        overflow-x: hidden;
    }
    .navigation-manual {
        max-width: 100vw;
        height: auto;
    }
    .navigation-auto {
        max-width: 100vw;
        height: auto;
    }
    .headline2 h1 {
        margin-bottom: 40px;
        font-size: 50px;
    }

    .mainTitle h1 {
        font-size: 30px;
    }

    .headline2 {
        top: 50%;
        max-width: 100vw;
        left: 40%;
    }

    #nextBtn {
        left: 70%;
    }

    .slider{
        height: 300px;
    }
    
    .slide img{
        height: 300px;
    }

    .slides{
        height: 300px;
    }
    
    .navigation-manual {
        max-height: 300px;
        margin-top: -40px;
    }
    
    .navigation-auto {
        max-height: 300px;
        margin-top: 260px;

    }
    .slider2{
        height: 300px;
    }
    
    .slide2 img{
        height: 300px;
    }

    .slides2{
        height: 300px;
    }
    
    .navigation-manual2 {
        max-height: 300px;
        margin-top: -40px;
    }
    
    .navigation-auto2 {
        max-height: 300px;
        margin-top: 260px;
    }

    .slider3{
        height: 550px;
    }
    
    .slide3 img{
        height: 550px;
    }

    .slides3{
        height: 550px;
    }
    
    .navigation-manual3 {
        max-height: 550px;
        margin-top: -40px;
    }
    
    .navigation-auto3 {
        max-height: 550px;
        margin-top: 510px;
    }

    .slider3Container {
        height: 550px;
    }
}