* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background: #2e313b;
    /* animation: backgroundChange 1s ease-in-out forwards; */
}

/* @keyframes backgroundChange {
    from {background-color: white;}
    to {background-color: #2e313b;}
} */

.container_logo {
    margin-left: -200px;
    animation: moveright .5s ease-in-out forwards;
    animation-delay: 2s;
    display: flex;
    align-items: center;
}

.container_logo img {
    width: 35px;
    margin-right: 10px;
}

.container_logo h3 {
    color: lightgray;
}
  
@keyframes moveright {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200px);
    }
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9;
    background: #2e313b;
}

nav {
    flex: 1;
    text-align: right;
}
  
nav ul {
    display: inline-block;
    list-style-type: none;
}
  
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
  
a {
    text-decoration: none;
    color: lightgray;
}
  
/* p {
    color: lightgray;
} */

#topButton {
    color: #ff4040;
    font-weight: bold;
    border: 2px;
    border-color:#ff4040;
    border-style: solid;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.5s, color .5s;
}


#topButton:hover {
    background: #ff4040;
    color: white;
}

section {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

section3 {
    margin-top: 100px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

section2 {
    display: flex;
    height: 95vh;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}

  .headline2 p {
      color: white;
      margin-bottom: 30px;
  }

  .headline2 {
    position: absolute;
    color: white;
    align-items: left;
    max-width: 40vw;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    z-index: 3;
}

.headline2 h1 {
  margin-bottom: 30px;
  font-size: 80px;
}

.headline3 {
    position: absolute;
    top: 0;
    width: 80vw;
    z-index: 3;
}

/* content--------------------------------------------- */

.mainTitle {
    margin-top: 80px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.mainTitle h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.mainTitle p {
    color: #8a8a8a;
}

/* THIRD SLIDER------------------------------------- */

.slider3ContainerOutside {
    height: 800px;
}

.slider3Container {
    height: 800px;
    overflow: hidden;
}

.slider3{
    /* margin-right: 10vh; */
    z-index: 3;
    /* max-width: 1280px; */
    /* height: auto; */
    /* border-radius: 10px; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slides3{
    width: 500%;
    height: 800px;
    display: flex;
}

.slides3 input{
    display: none;
}

/* .slide first {
    position: relative;
} */

.slide3{
    width: 20%;
    transition: 2s;
}

.slide3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.navigation-manual3{
    position: absolute;
    width: 1280px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.manual-btn3{
    border:2px solid rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn3:not(:last-child){
    margin-right: 40px;
}

.manual-btn3:hover{
    background: lightgray;
}

#radioThree1:checked ~ .first3{
    margin-left: 0;
}

#radioThree2:checked ~ .first3{
    margin-left: -20%;
}

#radioThree3:checked ~ .first3{
    margin-left: -40%;
}

#radioThree4:checked ~ .first3{
    margin-left: -60%;
}

.navigation-auto3{
    position:absolute;
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top: 760px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-auto3 div{
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto3 div:not(:last-child){
    margin-right: 40px;
}

#radioThree1:checked ~ .navigation-auto3 .auto-btnThree1{
    background: lightgray;
}

#radioThree2:checked ~ .navigation-auto3 .auto-btnThree2{
    background: lightgray;
}

#radioThree3:checked ~ .navigation-auto3 .auto-btnThree3{
    background: lightgray;
}

#radioThree4:checked ~ .navigation-auto3 .auto-btnThree4{
    background: lightgray;
}

/* Carousel start here---------------------------- */

/* .lightSlider {
    max-width: 1280px;
} */

.lightSliderDiv {
    margin-top: 100px;
    max-width: 1080px;
    /* height: 100vh; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.lightSliderDiv2 {
    margin-top: 100px;
    max-width: 1080px;
    /* height: 100vh; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.lightSliderDiv3 {
    margin-top: 100px;
    max-width: 1280px;
    /* height: 100vh; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.box {
    max-width: 420px;
    /* box-shadow: 0 0 20px 0px rgba(0,0,0,0.1); */
    /* border-radius: 10px; */
    overflow: hidden;
    /* margin: 5px; */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.box2 {
    max-width: 1280px;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.slide img {
    height: 500px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.type {
    display: flex;
    flex-direction: column;
}

.type a {
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.type span {
    color: white;
}

.price {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.bottomButton {
    text-align: center;
}

#bottomButton {
    cursor: pointer;
    background: #ff4040;
    color: white;
    transition: background 0.5s;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

#bottomButton:hover {
    background: #a92c2c;
}

#sliderButton {
    margin: 30px 0;
    display: inline-block;
    cursor: pointer;
    background: #ff4040;
    color: white;
    transition: background 0.5s;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    animation: moveup 2.5s ease-in-out forwards;
}

@keyframes moveup {
    0% {
      opacity: 0;  
      transform: translateX(-10vw);
    }
    80% {
        opacity: 0; 
        transform: translateX(-10vw);
      }
    100% {
      transform: translateY(0);
    }
}
  
#sliderButton:hover {
    background: #a92c2c;
}

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 11;
    display: none;
  }
  
  .modal-content {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
    z-index: 4;
    top: -100vh;
    animation: drop 0.5s ease forwards;
    padding-bottom: 15px;
    margin: 0 auto !important; 
	float: none !important;
    }

    @keyframes drop {
      0%{opacity: 0}
      70%{transform: translateY(10vh)}
      100%{transform: translateY(8vh); opacity: 1;}
    }
  
  .modal-header {
    text-align: right;
    font-size: 26px;
  }

  .modal-header .modal-close {
    margin-top: 10px;
    cursor: pointer;
    color: #ff523b;
    /* float: right; */
    font-size: 20px;
    background: #efefef;
    border: 0;
    outline: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    transition: background 0.5s;
  }
  
  .modal-header .modal-close:hover {
    background: lightgray;
  }
  
  .modal-body {
    color: #7b7b7b;
    padding: 15px 0;
  }
  
  .modal {
    overflow-y:auto;
  }










  /* --------------- testimonial --------------- */

  .box .col-3 {
    text-align: center;
    padding: 40px 20px;
    /* box-shadow: 0 0 20px 0px rgba(0,0,0,0.1); */
    transition: transform 0.5s;
    background-color: #f3f1f0;
    height: 300px;
  }

  .box .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .fa.fa-quote-left {
    font-size: 34px;
    color: #ff4040;
  }
  
  .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  
  .footer {
    background: #1d2129;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }

  .footer a {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 40px;
  }
  
  .footer-col-1{
    flex-basis: 10%;
    align-items: center;
  }

  .footerCompanyLogo {
      display: inline-flex;
  }
  
  .footer-col-2 {
    text-align: center;
  }

  .footer-col-2 h3 {
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
    margin-top: 18px;
  }
  
  .footer-col-2 img {
    width: 50px;
    margin-right: 10px;
  }
  
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    flex-basis: 25%;
    text-align: center;
  }
  
  .footer-col-4 ul li {
    display: inline-block;
    padding: 5px;
  }

  ul {
    list-style-type: none;
  }

  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }

  .col-3 {
    flex-basis: 30%;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }

  .rowTop {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
  }


  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
  }

.small-container {
    max-width: 1280px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.colTop {
    padding: 10px;
    display: flex;
}

.colTop p {
    font-size: 14px;
}

.colTop img {
    width: 30px;
}

.col-4 {
    flex-basis: 33%;
    padding: 10px;
    min-width: 350px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    display: flex;
}

.col-4 img {
    min-width: 30px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.textContent {
    padding-left: 25px;
}

.textContent h4 {
    color: white;
    margin-bottom: 10px;
}

.textContent p {
    color: #8a8a8a;
}

.contactUs {
    background: #1d2129;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    max-width: 1280px;
    border: 5px;
    border-color: #ff4040;
    /* border-color: linear-gradient(to right, #ff6060, #ff4040); */
    border-style: solid;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 6px;
    margin-bottom: 150px;
    position: relative;
    display: flex;
    /* flex-direction: column; */
}

/* .containerEmail {
    margin-top: 15px;
    position: absolute;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f3f1f0;
    box-shadow: 0px 0px 2px white;
    max-width: 500px;
    z-index: 1;
}

.containerEmail h2 {
    margin-top: 30px;
    margin-bottom: 10px;
} */

.containerEmail2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f3f1f0;
    box-shadow: 0px 0px 2px white;
    max-width: 500px;
    z-index: 1;
    border-radius: 10px;
}

.containerEmail2 h2 {
    margin-right: 30px;
    margin-bottom: 30px;
}

.form-group {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    border: 1px solid lightgray;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    background-color: #ff4040;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s, color .5s;
}

button[type="submit"]:hover {
    background-color: #992b2b;
}

#status {
    text-align: center;
    font-size: 12px;
    padding: 7px;
}

#status.success {
    color: rgb(38, 163, 95);
    animation: status 4s ease forwards;
}

#status.error {
    color: red;
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

/* ------------media query for menu-------- */

@media only screen and (max-width: 1400px) {
    .slider3{
        height: 500px;
    }
    
    .slide3 img.responsive{
        height: 500px;
    }

    .slides3{
        height: 500px;
    }
    
    .navigation-manual3 {
        max-height: 500px;
        margin-top: -40px;
    }
    
    .navigation-auto3 {
        max-height: 500px;
        margin-top: 460px;
    }

    .slider3Container {
        height: 500px;
    }

    .slider3ContainerOutside {
        height: 500px;
    }

    .headline2 h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 760px) {
    .col-4 {
        flex-basis: 100%;;
    }
}

@media only screen and (max-width: 532px) {
    .rowTop {
        justify-content: left ;
    }
}

@media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 75px;
      left: 0;
      background: #1d2129;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
      z-index: 10;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      z-index: 10;
    }
    nav ul li a {
      color: #fff;
      border-style: none!important;
    }
    .menu-icon {
      display: block;
      cursor: pointer;
      z-index: 10;
    }
    content {
        margin-right: 0;
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .headline2 h1 {
        margin-bottom: 25px;
        font-size: 40px;
    }
    .mainTitle h1 {
        font-size: 30px;
    }
    .headline2 {
        top: 50%;
        max-width: 100vw;
        left: 40%;
        overflow: hidden;
    }
    .headline2 p {
        margin-bottom: 5px;
    }
    .slider3{
        height: 450px;
    }
    .slide3 img.reponsive{
        height: 450px;
    }
    .slides3{
        height: 450px;
    }
    .navigation-manual3 {
        max-height: 450px;
        margin-top: -40px;
    }
    .navigation-auto3 {
        max-height: 450px;
        margin-top: 410px;
    }
    .slider3Container {
        height: 450px;
    }
    .slider3ContainerOutside {
        height: 450px;
    }
    .manual-btn3:not(:last-child){
        margin-right: 20px;
    }
    .navigation-auto3 div:not(:last-child){
        margin-right: 20px;
    }
}